<div class="col-md-6 mx-auto mt-5">
	<h1>welcome to <strong>Meshiterro</strong><i class="fas fa-utensils"></i>  !!</h1>
	<p>In <i class="fas fa-utensils"></i> <strong>Meshiterro</strong>, </p>
	<p>SNS community that indiscriminately stimulate the appetite of sensible citizens.</p>
	<div class="row">
		  # btn-info>>blue, btn-success>>green
		<p class="ml-3"><a class="btn btn-info" href="/users/sign_in">Log in</a></p>
		<p class="ml-3"><a class="btn btn-success" href="/users/sign_up">Sign up</a></p>
	</div>
</div>